
body {
    background-color: lightgray;
    display: block;
}
/* border for name tag*/

.container {
    width: 400px;
}

div.container {
    background-color: grey;
}

.bkg-color {  
    background-color: red; 
}

.hello {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

div.hello-bottom {
    width: 100%;
    padding-bottom: 50px;
    border-radius: 0 0 20px 20px;
}

.white-text, h1, h2, p {
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.name-tag {
    background-color: white;
    padding: 30px;
}

/* styling of text */
.hello h1 {
    font-style:oblique;
    font-size: 50px;
}

.name-tag p {
    color: black;
    font-style: italic;
    font-size: 30px;
}
